<div class="center-align">

    <h2 class="question">Contact BachaDiff</h2>

  <hr>

  <div class="content">

  <h5 class="">Feel free to email us regarding any queries you may have, or just to say hello!</h5>
  <p><a href="mailto:bachadiff@gmail.com" class="lnk">bachadiff@gmail.com</a></p>

  <div class="social_media_btn_group">
    <!-- <a class="btn-floatin lighten-5">
      <img  class="network" src="../assets/icons8-facebook-50.png" alt="">
    </a> -->

    <button class="btn accent center-align valign-wrapper" (click)="goToBachaDiff()" >
      <img  class="network_icon" src="https://s3.eu-west-2.amazonaws.com/bachadiff-assets/icons8-facebook-f-50.png" alt="facebook logo link to bachadiff facebook page">
      <span class=network_name>Facebook</span>
    </button>

  </div>

</div>


</div>
