<div class="center-align">
  <h2 class="question">BachaDiff Team</h2>
  <hr>

  <div class="row" style="margin-top:10%;">

    <div class="col s12 m4">
      <img class="about-image" src="../assets/ferPlaya.jpg" (click)="goToFernandoFacebook()" alt="">
      <hr class="wings">
      <p>Fernando Ania</p>
    </div>
    <div class="col s12 m4">

      <img class="about-image" src="../assets/daniel.jpg" (click)="goToDanielFacebook()" alt="">
      <hr class="wings">

      <p>Daniel Chong</p>


    </div>
    <div class="col s12 m4">
      <img class="about-image" src="../assets/jason.jpg" (click)="goToJasonFacebook()" alt="">
      <hr class="wings">

      <p>DJ JAY</p>
    </div>

  </div>

  <div style="margin-top: 10%">

    <h2>What We Represent</h2>

    <hr>
    <p>Bachata Bachata Bachata</p>

  </div>


</div>
