<div>
  <h2 class="mat-display-3 page-title">BachaDiff Team</h2>
  <hr class="">

  <div class="container">

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch" class="row-example">
          <mat-card class="profile_card" *ngFor="let profilePicture of profilePictures">
              <mat-card-header>
                <mat-card-title>{{profilePicture.title}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="{{profilePicture.image}}" alt="Bachadiff Profile Photo of {{profilePicture.title}}">
              <mat-card-content>
                <p>
                  {{profilePicture.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button color="accent"(click)=goToFacebook(profilePicture.link)>Add me on Facebook</button>
              </mat-card-actions>
          </mat-card>
  </div>

  </div>
</div>
