
div > p {
  color: rgb(117, 117, 117);
  text-align: center;
}

img {
  background-size: cover;
  height: 200px;;
}

mat-card {
  margin-left: auto;
  margin-right: auto;

}

mat-card-actions {
  margin-top: -1em;
}


.profile_card {
  width: 200px;
  height: 350px;
  margin-bottom: 2em;

}

.vision_container {
  max-width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}



.card {
  border: 5px solid rgba(216,27,96, .5);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid #d81b60;

}

.wings {
  width: 40%;
  border: 1px solid #d81b60;
}

.findUs_container {
  margin-left: auto;
  margin-right: auto;
}

.bachadiff_vid {
  max-width: 100%;
  max-height: 12em;
  margin: 2em;
}
