<div>
  <h2 class="mat-display-3 page-title">BachaDiff Facebook Events</h2>
  <hr class="">



  <div class="" fxShow fxHide.lt-sm="true">
    <div class="calendar_control">
      <a mat-raised-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Previous
      </a>

      <a mat-raised-button id="todayEvent" #todayEvent mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </a>
      <a mat-raised-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Next
      </a>
    </div>

    <div class="date">
      <h5 class="mat-headline">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
    </div>

    <br>
    <div class="calendar">
      <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
          <small style="margin: 5px;" class="cal_text" > {{ day.events[0]?.title }}</small>

        </div>
        <!-- <small style="margin: 5px"> {{ day.events | json }}</small> -->
        <span class="cal-day-number ">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>


      </ng-template>

      <mwl-calendar-month-view [viewDate]="viewDate" class="z-depth-5" [events]="events" (dayClicked)="dayClicked($event.day)"
        [refresh]="refresh" [cellTemplate]="customCellTemplate" (eventClicked)="handleEvent('Clicked', $event.event)">
      </mwl-calendar-month-view>

    </div>
  </div>

  <div fxShow fxHide.gt-xs="true">

    <div *ngFor="let generalEvent of generalEvents">

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 class="mat-headline">{{generalEvent[0].title | slice: 0: 20}}</h2>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>

          <div *ngFor="let event of generalEvent">

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxFill>
                    <p fxFlex=20>
                      <strong>Date:</strong> {{event.start | date: 'dd/MM/yy'}}
                    </p>
                    <a href="https://www.facebook.com/pg/BachaDiff/events/" fxFlex mat-button style="height: 50%;margin-top:4%;"color="accent">Facebook</a>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              {{event.title}}
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </mat-expansion-panel>

    </mat-accordion>
  </div>



  </div>


</div>
