<div class="center-align">
  <h2 class="question">BachaDiff Events</h2>
  <hr>


  <div class="row">
    <div class="calendar_control s12">
      <div class="btn grey lighten-5" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>

      <div class="btn grey lighten-5" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn grey lighten-5" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>

    </div>

    <div class="center-align s12">
      <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
    </div>
    <p>Click on calendar to view events</p>

  </div>
  <br>
  <div class="center-align calendar">

    <mwl-calendar-month-view [viewDate]="viewDate"
                             [events]="events"
                             (dayClicked)="dayClicked($event.day)"
                             [refresh]="refresh"
                             (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-month-view>

  </div>

</div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal1 modal-fixed-footer">
      <div class="modal-content">
        <h4 class="modal-header">{{modalHeader}}</h4>
        <p class="modal-description" [innerHTML]="modalBody">
      </div>
      <div class="modal-footer">
        <a href="https://www.facebook.com/{{eventId}}" target="_blank" class="modal-action modal-close waves-effect waves-green btn-flat ">See the event on facebook</a>
      </div>
    </div>
