<div class="center-align">
  <h2 class="question">BachaDiff Events</h2>
  <hr>

  <!-- <div>
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="../assets/name.jpg">
          </div>
          <div class="card-content">
            <p>9/11/2017 | @Oneill's in Cardiff from 7:15pm</p>
          </div>
          <div class="card-action ">
            <a href="https://www.facebook.com/events/137674936958873/" target="_blank">Go to Facebook Event</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="calendar_control s12">
      <div class="btn grey lighten-5" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>

      <div class="btn grey lighten-5" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn grey lighten-5" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>

    </div>

    <div class="center-align s12">
      <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
    </div>

  </div>
  <br>
  <div class="center-align calendar">
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events">
    </mwl-calendar-month-view>

  </div>

</div>
