<div>

  <h2 class="question">Gallery</h2>
  <hr />

  <div class="row media_container">

    <div class="col s12">

      <ul>
        <li *ngFor="let vid of bachataVidsArray; let i = index">
          <video class="responsive-video bachadiff_vid" id="bachadiff-vid-{{i}}" controls>
            <source src="{{vid.source}}" type="video/mp4">
          </video>
        </li>
      </ul>

    </div>

    <div class="col s12">
      <h5 class="center-align">Pictures of the class</h5>
      <hr />
      <div class="row gallery_container center-align">
        <div *ngFor="let image of bachataPicsArray; let i = index">
          <div class="col m4 s12 image_container">
            <img (mouseenter)="mouseEnter($event, i)" [ngClass]="hoveredId === i ? depth5: depth1" id="{{i}}" width="250" (mouseleave)="mouseLeave($event)"
              class="gallery_pic z-depth-1 responsive-img materialboxed" src="{{image.image}}" alt="{{image.link}}" />
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
