<div>

  <h2 class="mat-display-3 page-title">Gallery</h2>
  <hr />

  <div class="media_container">

    <div class="" *ngFor="let vid of bachataVidsArray; let i = index">

      <video class="responsive-video bachadiff_vid mat-elevation-z1" (click)="play()" #videoPlayer id="bachadiff-vid-{{i}}" controls>
        <source src="{{vid.source}}" type="video/mp4">
      </video>
    </div>

  </div>

  <h5 class="mat-display-1" style="text-align: center; margin-top: 3%;">Pictures of our Cardiff Bachata Classes</h5>
  <hr />

  <!-- The Modal -->

  <div style="text-align: center;">
    <a mat-raised-button (click)="leftTab()">
      <mat-icon color="accent">navigate_before</mat-icon>
    </a>

    <a mat-raised-button (click)="rightTab()" >
      <mat-icon color="accent">navigate_next</mat-icon>
    </a>
  </div>

  <mat-tab-group mat-stretch-tabs class="tab-group" color="accent">
    <mat-tab [disabled]="true" *ngFor="let header of bachataAlbumHeaderNames" label="{{header.name}}" class="tab-content" id="album-title">
      <div class="photos" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutAlign.xs="center stretch">

        <div *ngFor="let image of bachataPicsArray; let i = index">

          <a (click)="openPic(i)">
            <img flex (mouseenter)="mouseEnter($event, i)"  [ngClass]="hoveredId === i ? depth5: depth1" id="{{image.id}}" (mouseleave)="mouseLeave($event)"
              class="gallery_pic mat-elevation-z2" src="{{image.image}}" alt="Bachadiff Cardiff Bachata class picture of people enjoying the dance"/>
            </a>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>



</div>
