<nav class="z-depth-1">
  <div class="nav-wrapper">
      <app-side-nav class="hide-on-large-only"></app-side-nav>

    <a routerLink="/home" routerLinkActive="active" class="brand-logo">BACHADIFF</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="about" routerLinkActive="active">About</a></li>
      <li><a routerLink="classes" routerLinkActive="active">Classes</a></li>
      <li><a routerLink="events" routerLinkActive="active">Events</a></li>
      <li><a routerLink="contactUs" routerLinkActive="active">Contact Us</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
