/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();


.accent {
  background-color: #FF4081 !important;
}

.primary {
  background-color: white;
}

.ligh-primary {
 background-color: #fefcfb;
}

.active {
  color: #FF4081 !important;

}
.page-title {
 text-align: center;
 margin: 0.5em 0 !important;
}

.container {
  margin-top: 3%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #fefcfb;
  margin: 0;
}

hr {
  width: 85%;
  border: 1px solid #d81b60;
  background-color: #d81b60;
}

