/* You can add global styles to this file, and also import other style files */
.accent {
  background-color: #FF4081 !important;
}

.primary {
  background-color: white;
}

.ligh-primary {
 background-color: #fefcfb;
}

.active {
  color: #FF4081 !important;

}


body {
  background-color: #fefcfb;
}

hr {
  width: 85%;
  border: 1px solid #d81b60;
  background-color: #d81b60;
}

