.generic_poster {
  height: 25em;
  width: 19em;
  border: 8px solid #f2f2f2;
  transition: all 0.3s ease-in;

}

.class_container {
 width: 100%;
}
.hover_poster {

}

.classes_hr {
  width: 80%;
  border: 1px solid #d81b60;
  background-color: #d81b60;
}



.class_setup {
  color: gray;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.setup_header {
  text-align: center;
}

.location_text {
 display: inline-block;
}
.location {
  margin-top: 5%;
  width: 100%;
  padding-bottom: 5%;
}

#times {
  float: left;
}

#prices {
  float: right;
}

agm-map {
  height: 300px;

}
