<div class="center-align">
  <h2 class="question">Class Structure</h2>
  <hr class="">

  <div class="container">

    <div class="row">
      <div class="col s12 m6">
        <a href="https://www.facebook.com/BachaDiff/" target="_blank">
          <img class="generic_poster z-depth-1"
              [ngClass]="hover_poster"
              src="https://s3.eu-west-2.amazonaws.com/bachadiff-assets/genericPoster.jpg"
              (mouseenter)="mouseEnter($event)"
              (mouseleave)="mouseLeave($event)" alt="poster of classes">
        </a>
      </div>
      <div class="col s12 m6">
        <h5 class="setup_header">Set Up</h5>
        <hr class="classes_hr z-depth-1">

        <div class="row class_setup">
          <div class="col s6">
            <p>7pm Register</p>
            <p>7:15pm Class Start</p>
            <p>9pm Social Starts!!</p>
          </div>
          <div class="col s6">
            <p>£7 (£5 NUS) 1 Class</p>
            <p>£8 (£7 NUS) 2 Classes</p>
            <p>Free Social until late</p>
          </div>

          <div class="col s12 center-align hide-on-med-and-down" style="margin-left: -3%;">
            <button class="btn accent" (click)="findUs()">Find Us</button>
          </div>
        </div>
      </div>
    </div>

    <div class="s12 location">
      <div class="location_text">
        <h5>Find Us</h5>
        <p>Oneill's 85-87, St Mary street</p>
      </div>

      <div class="z-depth-2">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>

  </div>

</div>
