<div>
  <h2 class="mat-display-3 page-title">Class Structure</h2>
  <hr class="">

  <div class="container">

    <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around center" fxLayoutAlign.xs="center stretch">
      <div  matTooltip="Visit Facebook Page!" matTooltipPosition="above" class="poster">
        <a   href="https://www.facebook.com/BachaDiff/" target="_blank">
        <img class="mat-elevation-z4 generic_poster"
            [ngClass]="hover_poster"
            src="https://s3.eu-west-2.amazonaws.com/bachadiff-assets/genericPoster.jpg"
            (mouseenter)="mouseEnter($event)"
            (mouseleave)="mouseLeave($event)" alt="poster of classes"></a>
      </div>

      <div style="width: 100%">
        <h2 style="text-align:center">Class Setup</h2>
         <hr />
      <div fxLayout="row" fxLayoutAlign="space-around center" class="class_setup">

        <div id="times">
          <p>7pm Register</p>
          <p>7:15pm Class Start</p>
          <p>9pm Social Starts!!</p>
        </div>
        <div id="prices">
          <p>£7 (£5 NUS) 1 Class</p>
          <p>£8 (£7 NUS) 2 Classes</p>
          <p>Free Social until late</p>
        </div>
      </div>
      </div>

    </div>

  </div>

  <div class="container">


    <div class="s12 location">
      <div class="location_text">
        <p>Oneill's 85-87, St Mary street, Cardiff</p>
      </div>

      <div class="z-depth-2">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>

  </div>
</div>
